<div class="container" style="width: 1100px;">
    <div class="row d-flex justify-content-center align-items-center h-80">
        <div class="card my-4" style="border-radius: 1rem; background-color: white; ">
            <div class="row g-0" style="width:100%">
                <div class="col-xl-6 ">
                    <img src="  https://images.unsplash.com/photo-1600880292089-90a7e086ee0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                        alt="Sample photo" class="img-fluid"
                        style="border-radius: 1rem 0 0 1rem; height: 100%; width:100%;" />
                </div>
                <div class="col-xl-6">
                    <div class="card-body p-md-5 text-black">
                        <h3 class="mb-5 text-uppercase">Register</h3>
                        <form id="form" [formGroup]="registerForm" (ngSubmit)="register()">
                            <div class="form-outline">
                                <label class="form-label">User Id</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="fa fa-user fa-2x"></i></span>
                                    </div>
                                    <input id="userId" type="email" formControlName="userId"
                                        class="form-control form-control-lg" required />
                                </div>

                                <div *ngIf="submitted && registerForm.controls['userId'].errors" class="text-danger">
                                    <span *ngIf="registerForm.controls['userId'].errors['required']">
                                        Email is required
                                    </span>
                                    <span *ngIf="registerForm.controls['userId'].errors['email']">
                                        Invalid Email
                                    </span>
                                </div>

                                <em style="margin-top: 7px;" id="UserIdValid"></em>
                                <span class="text-danger"></span>
                            </div>
                            <div class="form-outline">
                                <label class="form-label">Password</label>
                                <div class="input-group">
                                    <input id="Password" placeholder="Enter a password"
                                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                        class="form-control form-control-lg" formControlName="password" />
                                    <div class="input-group-append">
                                        <div class="input-group-text"><i class="fa fa-eye fa-2x" id="eye"></i></div>
                                    </div>
                                    <span class="text-danger"></span>
                                </div>
                                <div class="text-danger" *ngIf="submitted && registerForm.controls['password'].errors">
                                    <span *ngIf="registerForm.controls['password'].errors['required']">
                                        Password is required
                                    </span>
                                    <span *ngIf="registerForm.controls['password'].errors['pattern']">
                                        At least 8 characters with 1 uppercase, 1 lowercase, 1 special character, 1
                                        digit
                                    </span>
                                </div>
                            </div>
                            <div class="form-outline">
                                <label class="form-label">Confirm Password</label>
                                <div class="input-group">
                                    <input type="password" class="form-control form-control-lg" id="ConfirmPassword"
                                        placeholder="Confirm Password" name="confpassword" required>
                                    <div class="input-group-append">
                                        <div class="input-group-text"><i class="fa fa-eye fa-2x" id="eye1"></i>
                                        </div>
                                    </div>
                                </div>
                                <em style="margin-top: 7px;" id="CheckPasswordMatch"></em>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label">First Name</label>
                                        <input class="form-control form-control-lg" formControlName="firstName" />
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="text-danger"
                                        *ngIf="(submitted && registerForm.controls['firstName'].errors)">
                                        <span *ngIf="registerForm.controls['firstName'].errors['required']"
                                            pattern>First name is required</span>
                                        <span *ngIf="registerForm.controls['firstName'].errors['pattern']">Only
                                            alphabets are allowed</span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label">Last Name</label>
                                        <input class="form-control form-control-lg" formControlName="lastName" />
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="text-danger"
                                        *ngIf="(submitted && registerForm.controls['lastName'].errors)">
                                        <span *ngIf="registerForm.controls['lastName'].errors['required']" pattern>Last
                                            name is required</span>
                                        <span *ngIf="registerForm.controls['lastName'].errors['pattern']">Only
                                            alphabets are allowed</span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group mb-4">
                                <label class="form-label">Gender</label>
                                <select name="Gender" formControlName="gender" class="form-control form-control-lg">
                                    <option value="" selected hidden disabled> Select Gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="others">Others</option>
                                </select>
                                <span class="text-danger" *ngIf="submitted && this.registerForm.controls['gender'].errors">Gender is required</span>
                            </div>
                            <div class="form-group text-black">
                                <label class="form-label">Select Role</label>
                                <select #role (change)="show(role.value)" formControlName="role" id="role"
                                    class="form-control form-control-lg" on="load()" onclick="click()">
                                    <option value="" selected hidden disabled> Select Role</option>
                                    <option value="buyer">Buyer</option>
                                    <option value="broker">Broker</option>
                                    <option value="insurer">Insurer</option>
                                </select>
                                <span class="text-danger" *ngIf="submitted && this.registerForm.controls['role'].errors">Role is required</span>
                            </div>
                            <div class="form-group text-black" id="hiddenDiv" [hidden]="buyerSelected=='buyer'">
                                <label class="form-label">Enter License Id</label>
                                <input class="form-control form-control-lg" formControlName="licenseId" type="number" />
                                <span class="text-danger" *ngIf="submitted && this.registerForm.controls['licenseId'].errors">License ID is required</span>
                            </div>
                            <div class="d-flex">
                                <input id="butt" type="submit" value="Register" class="btn btn-success btn-block" />

                                <a class="btn btn-dark btn-block ms-auto" routerLink="/"
                                    routerLinkActive="active-link">Back</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>