<div class="mx-auto" style="width: 400px; margin-top: 50px; padding-bottom: 50px;">
    <div class="card shadow-lg" style="border-radius:20px">
        <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/512x512/document_check_edit.png"
            alt="edit img not available" style="width:350px; padding:5% 10% 0% 20%">
        <h1 style="text-align:center">Edit Asset</h1>
        <div class="card-body">
            <form id="form" [formGroup]="EditAssetForm" (ngSubmit)="editAsset()">
                <input type="hidden" asp-for="AssetId" />
                <div class="form-outline">
                    <label asp-for="countryId" class="control-label" style="font-size:larger">Country</label>
                    <select id="countryId" class="form-control" (change)="update($event)" formControlName="countryId">
                        <option *ngFor="let item of country" [value]="item.countryId">
                            {{item.countryName}}
                        </option>
                    </select>
                    <div class="text-danger" *ngIf="submitted && EditAssetForm.controls['countryId'].errors">
                        <span *ngIf="EditAssetForm.controls['countryId'].errors['required']">
                            asset name is required
                        </span>

                    </div>
                </div>
                <div class="form-outline">
                    <label class="form-label" style="font-size:larger">Asset Name</label>
                    <div class="input-group">
                        <input id="assetName" name="assetName" value="crane" class="form-control" formControlName="assetName" pattern="^[A-Za-z]+$"/>

                        <span class="text-danger"></span>
                    </div>

                    <div class="text-danger" *ngIf="submitted && EditAssetForm.controls['assetName'].errors">
                        <span *ngIf="EditAssetForm.controls['assetName'].errors['required']">
                            asset name is required
                        </span>
                        <span *ngIf="EditAssetForm.controls['assetName'].errors['pattern']">
                            only characters are allowed
                        </span>
                    </div>
                </div>
                <div class="form-outline">
                    <label class="form-label" style="font-size:larger">Price (in USD)</label>
                    <div class="input-group">
                        <input id="priceUsd" class="form-control" formControlName="priceUsd" type="number" />

                        <span class="text-danger"></span>
                    </div>

                    <div class="text-danger" *ngIf="submitted && EditAssetForm.controls['priceUsd'].errors">
                        <span *ngIf="EditAssetForm.controls['priceUsd'].errors['required']">
                            price is required
                        </span>
                        <span *ngIf="EditAssetForm.controls['priceUsd'].errors['number']">
                            only numbers are allowed
                        </span>
                    </div>
                </div>
                <div class="form-outline">
                    <label class="form-label" style="font-size:larger">Asset Type</label>
                    <select id="type" class="form-control" (change)="update2($event)" formControlName="type">
                        <option *ngFor="let item of types" [value]="item.value">
                            {{item.Text}}
                        </option>
                    </select>
                    <div class="text-danger" *ngIf="submitted && EditAssetForm.controls['type'].errors">
                        <span *ngIf="EditAssetForm.controls['type'].errors['required']">
                            asset type is required
                        </span>
                    </div>
                </div>
                <div class="d-flex my-4">
                    <div>
                        <a routerLink="/users/buyer/assets" class="text-white btn btn-dark mx-1">Back</a>
                    </div>
                    <div class="form-group ml-auto">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>